<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p id="ndmsg" ></p>

</body>
<script>
    "use strict";
    function fetchData()
    {
        let xhr=new XMLHttpRequest();
        xhr.open("GET","/public/static/message.json");

        xhr.setRequestHeader("Content-Type","application/json");
        xhr.onreadystatechange=function() {
        if(xhr.readyState===4 && xhr.status===200)
        {
            let data=JSON.parse(xhr.responseText);
            document.getElementById("ndmsg").innerHTML=data["message"];
        }
        else
        {
            console.error(xhr.statusText);
        }
        }
        xhr.send();
    }
setInterval(()=>fetchData(),3000);

</script>
</html>
